<section class="vh-100 bg-light ">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <form [formGroup]="form" (ngSubmit)="Registro()">
          <div class="form-outline mb-4">
            <input formControlName = "Placa" type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Placa" />
          </div>

          <div class="form-outline mb-3">
            <input formControlName = "TipoVehiculoID"  type="text" id="form3Example4" class="form-control form-control-lg"
              placeholder="Tipo Vehiculo" />
          </div>

          <div class="form-outline mb-3">
            <input formControlName = "Nombre"  type="text" id="form3Example5" class="form-control form-control-lg"
              placeholder="Nombre" />
          </div>

          <div class="form-outline mb-3">
            <input formControlName = "Documento"  type="text" id="form3Example6" class="form-control form-control-lg"
              placeholder="Documento" />
          </div>

          <div class="form-outline mb-3">
            <input formControlName = "NumeroParqueadero"  type="text" id="form3Example7" class="form-control form-control-lg"
              placeholder="Numero Parqueadero" />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">

            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrar</button>
          </div>

        </form>
        <!-- mensaje de error -->
        <div class="alert alert-danger" *ngIf="errorStatus">
            <p class="text-center">{{ errorMsj}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
